:root {
  --primary-color: #1a212e;
  --secondary-color: #54b0fd;
  --accent-color: #efbd5d;
  --background-color: #f4f4f4;
  --text-color: #333;
}

body {
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--text-color);
}

header {
  background-color: var(--primary-color);
  color: var(--background-color);
  text-align: center;
}

footer {
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 2px 0;
  text-align: center;
}

footer a {
  color: var(--background-color);
  text-decoration: none;
}

footer a:visited {
  color: var(--secondary-color);
}

footer a:hover,
footer a:active {
  color: var(--accent-color);
}

.title {
  background: url("/images/Bundeshaus_Nationalratsratssaal.jpg") no-repeat
    center center;
  background-color: var(--primary-color);
  background-blend-mode: multiply;
  background-size: cover;
  padding: 100px 0;
}

nav {
  background-color: var(--primary-color);
  padding: 15px 0;
  /* text-align: left; */
  position: fixed;
  top: 0px;
  width: 100%;
}

nav a {
  display: block;
  color: var(--background-color);
  text-decoration: none;
  padding: 5px 10px;
  margin: 0 10px;
}

nav a:hover {
  color: var(--accent-color);
}

#repo_link {
  float: right;
}

/* Hide Checkbox */
#toggle {
  display: none;
}

/* Hamburger Icon */
label {
  display: none;
  padding: 15px;
  background-color: var(--primary-color);
  color: var(--background-color);
  cursor: pointer;
  position: fixed;
  top: 0px;
  right: 0px;
}

/* Responsive styling */
@media screen and (max-width: 600px) {
  /* Show the hamburger icon */
  label {
    display: block;
  }

  /* Initially hide the navigation links */
  nav {
    display: none;
  }

  /* Display navigation links when toggle is checked */
  #toggle:checked + nav {
    display: block;
  }
}

@media screen and (min-width: 601px) {
  /* Horizontal layout for larger screens */
  nav a {
    float: left; /* This makes the links align horizontally */
  }

  /* Since the nav is always visible on larger screens, hide the toggle elements */
  #toggle,
  label {
    display: none;
  }

  nav {
    display: block; /* Ensure nav is always visible on larger screens */
  }
}

hr {
  color: var(--secondary-color);
  margin: 30px 0;
}

/* Make the page responsive */
section {
  /* Source of computation: https://matthewjamestaylor.com/responsive-padding */
  padding: 50px calc(8px + 15vw);
}

figure {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

svg {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 -14px;
  background: var(--background-color);
}

tooltip {
  background-color: black;
  border: none;
  color: white;
}
